html
{
    height: 100%;
}

body
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    background:url(bg3.jpg);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
}

#container
{
    background-color: white;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    height: 100%;

}


.divider
{
    width: 1px;
    background-color: lightgrey;
    height: 70%;
    margin: auto;
    position: absolute;
    left: 50%;
    top:15%;
    z-index: 100;
}

input
{
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    width: 20%;
    margin: 20px;
    border-color:lightgrey;
    transition: border-color 1s;



}
 
input:focus
{
    outline:none;
    border-color: #00b2b2;
}

#submit
{
    background-color: #4cadad;
    border:none;
    color:white;
    transition: background-color 1s;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
}

#submit:hover
{
    background-color: #32a2a2;
    cursor: pointer;
}

#fileToUpload
{
    display: none;
}
#browse-click
{
    width: 200px;
    margin: 0;
    border:none;
    border-radius: 10px;
}
#filename
{
    width: 30%;
}
p
{
    color:darkgrey;
    text-align: center;
}
#register
{
    
    color: darkgrey;
    font-size: 50px;
    margin: 0;
}
@media only screen and (max-width: 1024px)
{
    #container
    {
        flex-direction: column;
    }
    .divider
    {
        display: none;
    }
    input
    {
        width: 40%;
    }
    html
    {
        height: 150%;
        width:100%;
    }
}
